<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="SourcePath" value="/{0}/ocr/to process"/>
    <add key="DestinationPath" value="/{0}/ocr/processed"/>
    <add key="GoogleApiKey" value="AIzaSyAWN9bg57A6cKPVPvIbWmb-r_qHubHH128"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
  <connectionStrings>
    <add name="defaultconnection" connectionString="data source=Alex;initial catalog=canucks.api.principal;uid=sa;pwd=12345678;MultipleActiveResultSets=True" providerName="system.data.sqlclient"/>
    <add name="masterconnection" connectionString="data source=Alex;initial catalog=canucks.api.master;uid=sa;pwd=12345678;MultipleActiveResultSets=True" providerName="system.data.sqlclient"/>

    <add name="us_dataconnection" connectionString="data source=Alex;initial catalog=canucks.api.data.us;uid=sa;pwd=12345678;MultipleActiveResultSets=True" providerName="system.data.sqlclient"/>
    <add name="us_documentconnection" connectionString="data source=Alex;initial catalog=canucks.api.document.us;uid=sa;pwd=12345678;MultipleActiveResultSets=True" providerName="system.data.sqlclient"/>

    <add name="CA_DataConnection" connectionString="data source=Alex;initial catalog=canucks.api.data;uid=sa;pwd=12345678;MultipleActiveResultSets=True" providerName="system.data.sqlclient"/>
    <add name="CA_DocumentConnection" connectionString="data source=Alex;initial catalog=canucks.api.document;uid=sa;pwd=12345678;MultipleActiveResultSets=True" providerName="system.data.sqlclient"/>
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
